.superInput {
    border: 1px solid lime;
    color: #000000;
    padding: 3px;
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 11px;
    font-family: Verdana;
    background: #FFF;
    outline: none;

}

.errorInput {
    border: 1px solid red;
    color: #000000;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 11px;
    font-family: Verdana;
    background: #FFF;
    outline: none;
}

.error {
    color: red;
    font-family: Verdana;
    font-size: 11px;
    padding: 5px;
}